* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

section {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  text-align: right;
}

p {
  margin: 0;
}

header {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  align-self: flex-start;
}


header nav {
  display: flex;
  border: 0;
}

header nav > * {
  padding: 10px;
  -webkit-box-shadow: none;
    box-shadow: none;
}


.hero-banner {
  height: 20%;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/hero-bg.jpg");


  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}

.hero-text {
  text-align: center;
  top: 50%;
  left: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.page-section {
  display: flex;
  flex-direction: row;
}



.section-header {
  display: flex;
  flex: 20%;
  align-items: flex-start;
  justify-content: flex-end;
  border-right: thick solid darkgray;
  margin: 20px;
  padding-right: 20px;
}

.section-content {
  flex: 80%;
}

.about-container {
  margin-top: 20px;
  margin-right: 30px;
  margin-left: 20px;
}

.work-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 10px;
  align-self: stretch;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 30px;
}

.work {
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  align-self: stretch;
  align-items: center;
  color: white;
  padding: 30px;
  transition: 0.2s all ease-in-out;;
}

#work-1 {

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/portfolio-1.jpg");
  height: 200px;
}

#work-1:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url("../../assets/images/portfolio-1.jpg");
  height: 200px;
  
}

#work-2 {

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/portfolio-2.jpg");
  height: 100px;
}

#work-2:hover {

  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url("../../assets/images/portfolio-2.jpg");
  height: 100px;
}

#work-3 {

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/portfolio-3.jpg");
  height: 100px;
}

#work-3:hover {

  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url("../../assets/images/portfolio-3.jpg");
  height: 100px;
}

#work-4 {

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/portfolio-4.jpg");
  height: 100px;
}

#work-4:hover {

  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url("../../assets/images/portfolio-4.jpg");
  height: 100px;
}

#work-5 {

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/run-buddy.jpg");
  height: 100px;
}

#work-5:hover {

  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url("../../assets/images/run-buddy.jpg");
  height: 100px;
}

.link-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.link-container > * {
  align-self: center;
  margin-right: 30px;
  margin-left: 20px;
}

.avatar {
  border-radius: 50%;
  height: 100px;
  transition: 0.2s all ease-in-out;;
}

.avatar:hover {
  transform: scale(1.1);
}


/* media query */
@media screen and (max-width: 640px) {
  .page-section {
    flex-direction: column;
  }
  header {
    flex-direction: column;
  }
  header nav {
  align-self: flex-start;
  }
  .section-header {
    border: 0;
  }
}

